#TSX_main {
	display: none;
}
#auth_error_message {
	color: #e22;
	font-size: 0.8em;
}
/* Panels general */
.column {
    float: left;
    margin: 0 1em 1em 0;
    padding: 0.3em;
}
 
.column-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }
 
.column-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }

.column-content {
   padding: 0.4em;
}
 
.column-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
}

/*************************/
/* The panels */

#control{
	width: 100%;
	margin: 0 0 1em 0;
}

#control-column{
	width: 99%;
}

#data-column{
	width: 21%;
}

#edit-column{
	width: 33%;
}

#image-column{
	width: 40%;
	height: 100%;
   	padding-bottom: 0;
    padding: 0;
}
/*************************/
/* Control panel */

div#control-column {
		margin-bottom: 0;
}
div#mode-control {
	width: 40%;
	float:left;
	margin-bottom: 1em;
}
div#panel-control{
	width: 20%;
	float:left;
}
div#image-control{
	display: none;
	width: 30%;
	float: right;
}
div#nav-control {
	clear:both;
}
#zoom-in{
 padding: 0 1px 3px 0;
}
#control-container {
	font-size: 70%;
}
#control-container .ui-button-text{
	font-size: 90%;
}
#control-column > div.column-content {
	padding-bottom: 0;
}

#control .ui-buttonset .ui-button{
	/*margin: 0;*/
}
#nav-control span:hover{
	background-color: #eee;
	cursor: pointer;
}

/******************/
/*Data panel */

#data-list ul{
	margin:0 0 0 2em;
	padding:0;
}
#data-list li{
	list-style-type: none;
	cursor: pointer;
	border-bottom: 1px dotted #ccc;
	padding-top: 0.6em;
}
#data-list li:hover{
	background-color: #eee;
}
#data-list ul.grid {
	margin:0;

    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -moz-padding-start: 5px;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    -webkit-padding-start: 5px;
    column-count: 3;
    column-gap: 1em;
    padding-start: 5px;
    list-style-type: none !important;
    margin: 0px;
    padding: 0px;
}

ul.grid li{
	margin: 0.1em 0.1em 0.1em 0.1em;
}

li.doc_ref {font-size: 0.5em}
/**********************/


/* Edit panel */
div#edit-area {
	height: 100%;
}
div#edit-tools button {
	font-size: 60%;
	float: left;
}

.tei-underline-enabled{
	text-decoration: underline;
}
.tei-head-enabled{
	font-weight: bold;
}
.tei-del-enabled{
	text-decoration: line-through;
}
.tei-sic-enabled{
	font-style: italic;
}
.tei-super-enabled{
	vertical-align: super;
}

.tei-unclear-enabled{
	color: purple;
}
.tei-gap-enabled{
	color: red;
}

.page-region-start{
	padding-top: 0.5em;
}
.page-region-end{
	padding-bottom: 0.5em;
}
div#edit-view-switch {
	width: 30%;
	float: right;
	font-size: 0.7em;
	color: #ccc;
	margin: 0.3em;
}
div#edit-area{
	clear: both;
}

/* code mirror styles */

.CodeMirror {
	height: 100%;
}
.suggestion {
	color: #ccc;
}
.visual {
	font-family: sans-serif;
}
/**************************/

/* Image panel */
#image-canvas{
	width: 100%;
	height: 100%;
}

/********htr stuff **********/

#htr_stuff {
	display: none;
}
#htr_image {
	display: none;
}
#htr_target {
	display: none;
}

/*

#ac_container {
    width: 400px;
    height: 50px;
    position: relative;
}

#suggestions, 
#text-area {
    border-style: dashed; 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
    resize: none; 
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


#text-area {
	background-color: transparent;
	z-index: 10;
}

#suggestions {
	background-color: white;
    color: #AAAAFF;
	z-index: 1;
}
