body { padding 0; margin: 0; }

.tsx-panel-control {float: right; position: relative; top: -7px;}

.popover { max-width: 100%;}
.popover-content ul { height: 200px; overflow: auto; };
.CodeMirror-hint {
  max-width: 44em;
}


/* file tree css*/

#tsx-file-panel { overflow: auto;}
#tsx-thumb-panel { overflow: auto;}
.tsx-thumbbox .caption {text-align: center;}
.tsx-loading {background:url(throbber.gif);}
/*tei CodeMirror css */

.tsx-htr-available { color: #0f0; }

.tsx-line-selected { font-weight: bold; }
.tsx-line-selected > span { color: #000; }

.CodeMirror { color: #aaa; }
.CodeMirror .tsx-line-hovered { color: #000; }

/*tsx-tei css*/
/*wraps*/
span.tsx-tei-del{text-decoration:line-through}
span.tsx-tei-underscore{text-decoration:underline;}
span.tsx-tei-add{vertical-align:baseline;font-size:0.8em;position:relative;top:-0.4em}
span.tsx-tei-note{border:1px solid #999}
span.tsx-tei-hi{text-decoration:underline} 
span.tsx-tei-foreign{border-bottom:2px dotted #0a0}
span.tsx-tei-sic{border-bottom:2px dotted #aa0}
span.tsx-tei-head{display:block;font-size:large}
span.tsx-tei-super{text-decoration:none;vertical-align:baseline;position:relative;top:-0.4em}

span.tsx-tei-unclear{border-bottom:2px dotted #000}
span.tsx-tei-unclear-aft:after {content: "[?]"}

/*special cases for wraps that a) span lines and b) involve (pre/ap)pended content */
span.tsx-tei-unclear{border-bottom:2px dotted #000}
span.tsx-tei-unclear-aft:after {content: "[?]"}
span.tsx-tei-p-fore:before {content: "\A";}
span.tsx-tei-p-aft:after {content: "\A";}

/*inserts*/
/* slightly tortured... we do this to avoid actually inserting &'s in the text... 
not sure what it all means so may get ditched for straight forward text inserts */
span.tsx-tei-amp-aft:after, span.tsx-tei-amp-fore:before { content: "& "}
span.tsx-tei-longdash-aft:after, span.tsx-tei-longdash-fore:before { content: "— "}
span.tsx-tei-gap-aft:after, span.tsx-tei-gap-fore:before { content: "[...] " }


div.popover-small { width: 200px; }
div.popover-medium { width: 400px; }
div.popover-large { width: 600px; }


/*Custom icons for TEI (which I'll have to make more of*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?pwcuv3');
	src:url('../fonts/icomoon.eot?#iefixpwcuv3') format('embedded-opentype'),
		url('../fonts/icomoon.woff?pwcuv3') format('woff'),
		url('../fonts/icomoon.ttf?pwcuv3') format('truetype'),
		url('../fonts/icomoon.svg?pwcuv3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-heading:before {
	content: "\e600";
}

.icon-pagebreak:before {
	content: "\e601";
}



/*.tsx-line-hovered > span { color: #f00; }*/


/* Raphael seems to position the svg at other than 0x0 */
/*svg {
   top: 0 !important;
   left: 0 !important;
}
*/
/*body { padding-top: 70px; }*/
/*
#draggablePanels .panel-heading {
        cursor: move;
}
*/
/*
#tsx-documents { width: 30%; }
*/
/*
.panel-body { height: 100%; }
#tsx-image { height: 100%; }

*/

/* BS override */

.jumbotron {
    padding: 0.5em 0.6em;
}
 .jumbotron    h1 {
        font-size: 3em;
    }
  .jumbotron   p {
        font-size: 1.2em;
  }    .jumbotron   .btn {
            padding: 0.5em;
        }
  
.tsx-doc-control {
	margin-right: 100px;
} 
